*{
    margin: 0;
    padding: 0;
}

.body{
    background-image: url('./images/snake_grass_2.png');
    height: 100vh;
    width: 100vw;    
}

.boardContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mainHeading{
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    text-align: center;
    font-size: 3rem;
}

.headingContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#highScore{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin-top: 20px;
    z-index: 3;
    text-align: center;
}

@media only screen and (max-width: 1474px) and (min-width: 811px) {
    .headingContainer{
        flex-direction: column;
    }
    #snakeImage{
        display: none;
    }
}

@media only screen and (max-width: 811px) and (min-width: 274px){
    .headingContainer{
        font-size: 1rem;
        flex-direction: column;
    }
    #highScore, #mainHeading{
        font-size: 1.5rem;
    }
    .controlIcons{
        display: flex;
    }
}

.buttonFlexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.controlIcons{
    height: 200px;
    width: 200px;
    background-color: rgb(200, 200, 200);
    border-top: 8px solid rgb(103, 103, 103);
    border-left: 8px solid rgb(103, 103, 103);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrowRightLeftDiv{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 80%;
}
.arrowUpDiv, .arrowDownDiv{
    margin: 10px;
}
.arrows{
    height: 50px;
    width: 50px;
    z-index: 4;
    outline: none;
    border: none;
    background-size: contain;
    background-color: rgba(146, 146, 146, 0);
}

#arrowUp{
    background-image: url('./images/up.png');
}
#arrowDown{
    background-image: url('./images/down.png');
}
#arrowRight{
    background-image: url('./images/right.png');
}
#arrowLeft{
    background-image: url('./images/left.png');
}

#snakeImage{
    height: 300px;
    position: absolute;
    top: 66%;
    right: 65%;
}

#board{
    border: 2px solid black;
    height: 85vmin;
    width: 85vmin;
    background: linear-gradient(rgb(182, 234, 182), rgb(248, 248, 182));
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(28, 1fr);
}

.food{
    background: linear-gradient(rgb(0, 8, 254), rgb(89, 200, 55));
    border-radius: 20px;
    z-index: 2;
    background-size: cover;
}

.head{
    background: linear-gradient(rgb(94, 0, 128), rgb(124, 54, 237));
    border-radius: 3px;
    z-index: 3;
}

.snake{
    background: linear-gradient(rgb(203, 68, 0), rgba(61, 115, 0, 0.499));
    border-radius: 2px;
    z-index: 3;
    transform: scale(0.92);
}

.borderGrass{
    height: 70px;
    width: 70px;
}